/* --------------------------------------------------------Universal Selectors */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* ----------------------------------------------------------Hover Effects */
.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}


/* ---------------------------------------------------------- Universal */

body a {
  font-family: "Poppins";
}


/* -------------------------------------------------------- Landing Page */
div#landing-body {
  background-color: darkblue;
  background: url('../images/landing-bg1.jpg') no-repeat;
  background-size: 100%;
  background-position: 0 40%;
  height: 100vh;
}

#navbar { /* Universal Navbar */
  height: 6%;
  padding-top: 3%;
  padding-right: 15%;
}

.navbar-nav { /* Universal */
  margin-right: 1%;
}

.navbar-nav li{ /* Universal */
  margin-right: 10%;
}

.navbar-nav li a { /* Universal */
  color: #F6F6F6;
}


.left {
  text-align: center;
  margin-top: 15%;
}

.left img {
  border-bottom: 1px solid #F6F6F6;
  margin-bottom: 3%;
}

.left p {
  color: #F6F6F6;
  font-family: "Quicksand";
}

.landing-btn {
  /* border: 1px solid #000; */
  margin-top: 5%;
  border-radius: 0;
  background: transparent;
  border: 1px solid rgba(252, 252, 252, 0.979);
  color: #fff;
  transition: ease-out 1s;
}

.landing-btn:hover {
  background-color: #F6F6F6;
  color: #424242;
  transition: ease-in 1s;
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  transition-duration: 0.3s;
}


/* --------------------------------------------------------Home Page */

#home-logo {
 position: absolute;
 top: 2%;
}

#home-nav {
  margin-right: -18%;
}

#home-nav li a {
  font-size: 0.8em;
  color: #292929;
}

#home-footer {
  background-color: rgba(224, 224, 224,0.4);
  /* display: none; */
  position: absolute;
  bottom: 0;
  right: 0; 
}

.footer-nav {
  list-style: none;
  width: 100%;
}

.footer-nav li {
  display: inline;
  margin-right: 9%;
  font-size: 1.7em; 
  float: right;
}

.footer-nav li a {
  color: #292929;
  font-size: 0.7em;
}


.home-left-bg {
  height: 100vh;
  background: url(../images/home-bg.jpg) no-repeat;
  background-size: cover;
  background-position: 0 40%;
  position: fixed;
  border-right: 2px solid #fff;
}

.home-right-bg {
  background-image: radial-gradient(73% 147%, #EADFDF 59%, #ECE2DF 100%), radial-gradient(91% 146%, rgba(255,255,255,0.50) 47%, rgba(0,0,0,0.50) 100%);
 background-blend-mode: screen;
  text-align: center;
  color: #4F4F4F;
  font-family: "Quicksand";
  border-left: 3px solid #fff;
}


.home-intro h1 {
  font-size: 1.5em;
  font-weight: 700;
  width: 70%;
  /* border-top: 1px solid #EEEEEE; */
  padding-top: 5%;
  /* padding-left: 30%; */
  margin: 0 auto;
  margin-top: 25%;
  margin-bottom: 10%;
  position: relative;
}

.home-intro > h1::before {
  content: url(../ornament/eye.png);
  display: block;
  position: absolute;
  bottom: 25%;
  left: 5%;
  transform: scale(0.3)
}

.home-intro p {
  margin-bottom: 5%;
}

.home-intro .btn {
  border-radius: 0;
  text-transform: uppercase;  
  -webkit-border: 1px solid #292929;
}

#home-info {
  margin-top: 15%;
  margin-bottom: 15%;
}

#home-info h4 {
  margin-top: 15%;
}

#home-info button {
  margin-bottom: 15%;
}

/* --------------------------------------------About page  */

#about-logo {
  position: absolute;
  top: .5%;
 }

.about-left-bg {
  height: 100vh;
  background: url(../images/about-bg.jpg) no-repeat;
  background-size: cover;
  background-position: 0 40%;
  position: fixed;
}

#about-image-header {
  position: relative;
  margin: 10% 0;
  margin-bottom: 2%;
}

#about-image-header img:hover {
  opacity: 0.7;
  transition: 0.4s;
}

#about-image-header::before {
  content: url(../ornament/ornament5.png);
  transform: scale(0.9);
  display: block;
  position: absolute;
  bottom: 80%;
  left: 35%;
}

.about-right-bg {
  background-image: radial-gradient(73% 147%, #EADFDF 59%, #ECE2DF 100%), radial-gradient(91% 146%, rgba(255,255,255,0.50) 47%, rgba(0,0,0,0.50) 100%);
 background-blend-mode: screen;
}

#about-info {
  font-family: "Quicksand";
  margin-top: 7%;
  margin-bottom: 7%;
}

#about-team {
  font-family: "Quicksand";
  margin-top: 5%;
  margin-bottom: 5%;
}

.team-members {
  position: relative;
}

#markus::before {
  content: url('../images/markus.png');
  position: absolute;
  display: block;
  left: -35%;
  bottom: 60%;
}

#ella::before {
  content: url('../images/ella.png');
  position: absolute;
  display: block;
  left: -35%;
  bottom: 40%;
}

#nathan::before {
  content: url('../images/nathan.png');
  position: absolute;
  display: block;
  left: -35%;
  bottom: 50%;
}

#mike::before {
  content: url('../images/mike.png');
  position: absolute;
  display: block;
  left: -35%;
  bottom: 40%;
}

.team-btn {
  margin-top: 5%;
  margin-bottom: 5%;
  background: transparent;
  border: 1px solid #000;
}

#main-team {
  margin-bottom: 15%;
  font-family: "Quicksand";
}


/* --------------------------------------------------------------Contact Page */

#contact-body-bg {
  background: url(../images/contact.jpg) no-repeat;
  background-size: cover;
  background-position: -90% 80%;
  height: 100vh;
  position: fixed;
  transition: 2s;
}

#contact-body-bg:hover::after {
  content: 'Hello there!';
  color: #292929;
  display: block;
  position: absolute;
  transform: translate(-50% -50%);
  top: 50%;
  left: 25%;
  transition-duration: 2s;
  opacity: 1;
  width: 50%;
  text-align: center;
  background-color: rgba(241, 241, 241,0.5);
}

#contact-left {
  background-image: radial-gradient(73% 147%, #EADFDF 59%, #ECE2DF 100%), radial-gradient(91% 146%, rgba(255,255,255,0.50) 47%, rgba(0,0,0,0.50) 100%);
 background-blend-mode: screen;
}

#contact-logo {
  position: absolute;
  top: 2%;

 }


 .contact-header {
   margin-top: 10%;
   margin-bottom: 5%;
   font-family: "Quicksand";
 }

 .contact-header h4 {
   font-weight: 700;
   background-color: #292929;
   color: #F9f9f9;
   padding: 2%;
 }

 #contact-footer {
  background-color: rgba(224, 224, 224,0.4);
  /* display: none; */
  
}

/* ---------------------------------------------------Gallery Page  */

#left-1 {
  background-color: black;
  height: 100vh;
  display: inline-block;
  float: left;
  padding: 0;
}

#left-1 img {
  width: 100%;
  height: 100%;
}
 
#mid-1 {
  background-color: black;
  height: 100vh;
  display: inline-block;
  float: left;
  padding: 0;
}

#mid-1 img {
  width: 100%;
  height: 100%;
}

#right-1 {
  background-color: black;
  height: 100vh;
  display: inline-block;
  float: left;
  padding: 0;
}

#right-1 img {
  width: 100%;
  height: 100%;
}

#mid-2 {
  float: left;
  padding: 0;
}

#mid-3 {
  float: left;
  padding: 0;
}

#gallery-menu {
  background-image: radial-gradient(73% 147%, #EADFDF 59%, #ECE2DF 100%), radial-gradient(91% 146%, rgba(255,255,255,0.50) 47%, rgba(0,0,0,0.50) 100%);
 background-blend-mode: screen;
 display: flex;
 justify-content: center;
}

#gallery-menu ul {
  list-style: none;
}

#gallery-menu ul li {
  display: inline;
 

}


/* ------------------------------------------------------------------- Mobile Styles */
@media only screen and (max-width:401px) {

  /* -------------------------------------------------------------Landing (M) */

  div#landing-body {
    overflow-y: hidden;
  }

  div#landing-body {
    height: 100vh;
    background: url('../images/wedding1.jpg') no-repeat;
  
  }

  .left {
    margin-top: 12%;
  }

  .left p {
    font-family: "Quicksand";
  }

  .left p, 
  .left a button {
    color: #292929;
  }

  .left a button {
    border: 1px solid #292929;
  }

  .left img {
    width: 60%;
    background-color: #292929;
  }

  /* ----------------------------------------------------------------Home (M) */

html, .container-fluid {
  overflow-x: hidden; 
}

#navbar {
  font-size: 1em;
}

  #home-logo {
    content: url('../logo/logo3.png');
    width: 60%;
    left: 23%;
    
  }

  .home-left-bg {
    position: static;
    padding: 0;
    margin-right: 0;
    background-position-x: 40%;
    height: 50vh;
  }

  .home-intro {
    /* position: relative; */
    /* top: 60%; */
    /* background-color: rgba( 46, 46, 46, 0.6); */
    color: #000;
    /* padding: 5% 3%; */
    /* margin-bottom: 4%; */
  }

  .home-intro > h1::before {
    bottom: 50%;
    left: -4%;
  }

  #home-footer {
    position: static;
    bottom: 0;
    left: 0;
    margin-top: 35%;
    margin-bottom: 0;
    /* height: 60px; */
  }

  .footer-nav {
    position: relative;
    left: -80%;
    float: left;
    width: 300px;
  }

  .footer-nav li {
    margin-right: 8%;
    float: left;
  }

/* -------------------------------------------------About (M) */

html, .container-fluid {
  overflow-x: hidden;
}

.about-left-bg {
  position: static;
  height: 50vh;
}

.about-right-bg {
  text-align: center;
}


#about-image-header {
  margin-top: 20%;
  margin-left: 5%;
}

#about-image-header::before {
  transform: scale(0.5);
  bottom: 40%;
  left: 15%;
}

#about-team {
  margin-top: 10%;
  margin-bottom: 45%;
}

.team-members {
  margin-bottom: 45%;
}

#ella::before, #nathan::before, #mike::before, #markus::before {
  bottom: 105%;
  left: 35%;
}


/* -------------------------------------------------------Contact Page (M) */

html, .container-fluid {
  overflow-x: hidden;
}

#contact-body-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 50vh;
}

#contact-left {
  margin-top: 50vh;
}

.contact-toggler-icon { /* Universal */
  position: relative;
  left: 20%;
  text-align: left;
} 

#contact-toggle {
  margin-left: 995%;
}

#contact-logo {
  margin-left: 0%;
}

.submit-btn {
  margin-left: 0%;
}



/* ----------------------------------------------------------Gallery (M) */


#mid-1, #right-1 {
  height: 70vh;
}

#blackbox-photoshoot {
  font-size: 0.9em;
}

.blackbox {
  height: 100px;
  width: 100px;
  background-color: black;
  color: white;
  font-weight: 700;
  position: absolute;
  z-index: 999;
  top: 5%;
  left: 45%;
  padding: 10%;
  padding-right: 18%;
  font-size: 0.6em;
  text-align: right;
  mix-blend-mode: multiply;
}

#blackbox-photoshoot {
  font-size: 0.6em;
  padding-right: 24%;
  height: 100px;
  width: 100px;
}

#blackbox-parties,
#blackbox-bd,
#blackbox-debut,
#blackbox-wed {
  background: white;
  color: black;
  mix-blend-mode: screen;
}


}

/* --------------------------------------------------Tablet Styles  */
@media only screen and (min-width: 401px) and (max-width: 960px) {

/* Landing Page  */

.container-fluid {
  overflow: hidden;
}

div#landing-body {
  background-color: darkblue;
  background: url('../images/landing-md2.jpeg') no-repeat;
  background-size: cover;
  height: 100vh;
  
}

.left {
  left: -15%;
  top: -10%;
  text-align: center;
}

.left img {
  position: relative;
  left: -50%;
  background-color: #292929;
  border-bottom: 1px solid #F9F9F9;
}

.left p,
.left a button {
  color: #292929;
}
.left a button {
  border: 1px solid #292929;
}

/* Home Page */

.home-navbar {
  text-align: right;
  padding-right: 25%;
}

#home-nav {
  margin-right: 25%;
  padding-right: 25%;
}

.home-left-bg {
  position: static;
  padding: 0;
  margin-right: 0;
  background-position-x: 40%;
  height: 70vh;
  background-attachment: fixed;
}


#home-logo {
  content: url('../logo/logo3.png');
  width: 60%;
  left: 36%;
  top: 2%;
}

.home-intro > h1::before {
  bottom: 50%;
  left: 10%;
}

/* -------------------------About Page */
.about-left-bg {
  position: static;
  height: 50vh;
  background-attachment: fixed;
  background-position-y: 200%;
}

#about-info {
  margin-top: 10%;
}

#navbar {
  font-size:1em;
}

.nav-link {
  margin-left: 15%;
}

.first-link {
  margin-top: 10%;
} 

/* ------------------------------------Contact Page */

#contact-body-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 60vh;
  background-position-y: 70%;
}

#contact-logo{
  margin-left: 8%;
}

#contact-left {
  margin-top: 60vh;
}

.contact-nav {
  text-align: center;
  margin-left: 70%;
  padding: 0;
}

#contact-nav {
  color: #292929;
}


.contact-toggler {
  margin-left: 75%;
} 

.contact-toggler-icon {
  position: relative;
  left: 20%;
  text-align: right;
} 

/* ---------------------------------- Gallery Page (T) */

.blackbox {
  height: 150px;
  width: 150px;
  background-color: black;
  color: white;
  font-weight: 700;
  position: absolute;
  z-index: 999;
  top: 5%;
  left: 45%;
  padding: 10%;
  padding-right: 18%;
  font-size: 1.3em;
  text-align: right;
  mix-blend-mode: multiply;
}

#blackbox-photoshoot {
  font-size: 1em;
  padding-right: 24%;
}

#blackbox-parties,
#blackbox-bd,
#blackbox-debut,
#blackbox-wed {
  background: white;
  color: black;
  mix-blend-mode: screen;
}



}


/* ---------------------------------------------------------Desktop Styles */

@media only screen and (min-width:961px) {

  /* ------------------------------------------------------------------Home */

  #navbar {
    font-size: 0.9em;
  }

  .home-left-bg {
  height: 100vh;
  background: url(../images/home-bg.jpg) no-repeat;
  background-size: cover;
  background-position: 0 40%;
  position: fixed;
  border-right: 2px solid #fff;
}


  #home-logo {
    left: 0;
    top: 0.5%;
  }

 .home-intro > h1::before {
  content: url(../ornament/eye.png);
  display: block;
  position: absolute;
  bottom: 25%;
  left: 25%;
  transform: scale(0.3)
}

/* ---------------------------------------------------------Contact */

  #contact-body-bg {
    background: url(../images/contact.jpg) no-repeat;
    background-size: cover;
    background-position: -90% 80%;
    height: 100vh;
    position: fixed;
  }

  #contact-left {
    margin-top: 0;
    height: 100vh;
  }

  #contact-nav {
    color: #292929;
  }

  .contact-nav {
    margin-left: 45%;
    margin-top: 3%;
  }

  .contact-toggler {
    margin-left: 0%;
  }

  .contact-toggler-icon {
    position: static;
    /* text-align: right; */
  }

  #contact-logo {
    margin-left: 8%;
  }

  .submit-btn {
    margin: 10% 0;
    padding: 2% 10%;
    margin-left: 5%;
    background: transparent;
    border: 1px solid #000;
  }


  .submit-btn:first-of-type{
    margin-left: 0;
  }

  #contact-footer {
    position: absolute;
    bottom: 0;
    left: 0;
  }
/* ----------------------------------------------------------About */

  .about-left-bg {
    height: 100vh;
    background: url(../images/about-bg.jpg) no-repeat;
    background-size: cover;
    background-position: 0 40%;
    position: fixed;
  }

  .first-link {
    margin-top: 0%;
  } 

  .about-navbar ul li:first-of-type {
    margin-left: 270%;
  }



/* ---------------------------------------------------Gallery Page  */
 
#mid-1, #mid-2 {
  background-color: black;
  height: 100vh;

  float: left;
  padding: 0;
}

#mid-1 img,
#mid-2 img {
  width: 100%;
  height: 100%;
}

#right-1, #right-2 {
  background-color: black;
  height: 100vh;
  float: left;
  padding: 0;
}

#right-1 img,
#right-2 img {
  width: 100%;
  height: 100%;
}

#mid-3 {
  float: left;
  padding: 0;
}

#mid-4 {
  float: left;
  padding: 0;
}

#gallery-menu {
  background-image: radial-gradient(73% 147%, #EADFDF 59%, #ECE2DF 100%), radial-gradient(91% 146%, rgba(255,255,255,0.50) 47%, rgba(0,0,0,0.50) 100%);
 background-blend-mode: screen;
 display: flex;
 justify-content: center;
}

#gallery-menu ul {
  list-style: none;
}

#gallery-menu ul li {
  display: inline;
 

}

.blackbox {
  height: 150px;
  width: 150px;
  background-color: black;
  color: white;
  font-weight: 700;
  position: absolute;
  z-index: 999;
  top: 5%;
  left: 45%;
  padding: 10%;
  padding-right: 18%;
  font-size: 1.3em;
  text-align: right;
  mix-blend-mode: multiply;
}

#blackbox-photoshoot {
  font-size: 1em;
  padding-right: 24%;
}

#blackbox-parties,
#blackbox-bd,
#blackbox-debut,
#blackbox-wed {
  background: white;
  color: black;
  mix-blend-mode: screen;
}

/* @media only screen and (min-width:1200px) {
  .home-intro > h1:before {
    left: 20%;
  }
}  */


}